<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="port_name" value="COM5" />
        <add key="baud_rate" value="19200" />
        <add key="timeout" value="600" />
        <add key="load_contacts" value="true" />
        <add key="load_sms" value="true" />
        <add key="raw_contacts_file" value="rawContacts.txt" />
        <add key="raw_sms_file" value="rawSms.txt" />
    </appSettings>
</configuration>